body {
	/*background-color: #233237;*/
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: "yantramanav", sans-serif;
}

/*Section Heading Styling*/
h2 {
	line-height: 50px;
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #05386b;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

/*This is the underline */
h2::after {
	display: block;
	content: "";
	height: 1px;
	width: 250px;
	background: #05386b;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h3 {
	line-height: 50px;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color #edf5e1:
}

/*feffff old color*/
/*Section captions for images*/
h3.img-caption {
  color: #feffff;
}

section {
	/*padding-top: 15px;
	margin-top: 15px;*/
}

/*Navigation*/

#header-name {
	color: #fff;
	text-transform: uppercase;
	margin-left: 1%;
	position: absolute;
	top: 0.5%;
}

#header-name h1 {
	font-family: "Jaldi", sans-serif;
	font-weight: 700;
	text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}

.topnav {
  overflow: hidden;
  background-color: #05386b;
  font-family: Anton, sans-serif;
  position: fixed;
  right: 0px;
  z-index: 2;
	text-align: center;
}

.topnav a {
	display: flex;
	color: #5cdb95;
	text-align: center;
	padding: 30px 16px;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border: 3px solid transparent;
	position: top right;
}
/*233237 379683*/

.topnav a:hover {
	color: #5cdb95;
	border: 3px solid #379683;
	border-radius: 5%;
	animation-name: pulse;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	overflow: hidden;
}


.carousel-indicators {
	z-index: 1;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
		width: 70%;
		margin: auto;
}

.carousel-caption, .d-none, .d-md-block {
	display: block!important;
}

/* Animation pulse */
@keyframes pulse {
	0%, 100% {
		transform: scale(1s);

	}
	50% {
		transform: scale(.9);
	}
}

/*Home section styling*/

#home {
	/*background: url(../images/Computer-photo.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 200px; /* This is spacer before the Main title logo */
	/*padding-bottom: 200px; /* This is spacer after the Main title logo */
	/*color: #eac67a;
	margin: 0 auto;*/
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: auto;
}

#slide-four {
	position: relative;
	top: 25px;
	color: red;
}

.head-main {
	text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
	font-variant: small-caps;
	color: #fff;
	letter-spacing: 2pt;
	word-spacing: 2pt;
	font-size: 3.5em;
	text-align: center;
	font-family: yantramanav, sans-serif;
	line-height: 2;
	font-weight: 600;
	border: 3px ridge #984b43;
	padding: 10px;
}

/*Development Skills #233237*/

.development {
	background-color: #5cdb95;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 30px;
	padding-top: 150px;
}

img.resize {
	width: 200px;
	height: 150px;
}


/*Professional Skills #19181a*/

.professional {
	background-color: #379683;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 30px;
	padding-top: 150px;
}

/*Human Skills #116466 */

.human {
	background-color: #5cdb95;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 30px;
	padding-top: 150px;
}

/*Contact*/
.contact {
	background-color: #379683;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 30px;
}

.contact-photo {
	opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.contact-photo:hover {
  opacity: 0.6;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.flex-container {
	display: -webkit-flex;
	display: row;
	flex-wrap: wrap;
	padding: 10px;
	margin: 0px auto;
}

/*Buttons*/

.button1 {
	color: #5cdb95;
	cursor: pointer;
	border: none;
	font-weight: 600;
	outline: none;
	text-align: center;
	font-family: 'Exo', sans-serif;
	margin: 0px 10%;
	padding: 18px 0px;
	width: 80%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #05386b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.button1:hover {
	color: #edf5e1; /*35%*/
	background-color: #0859aa;
}

.button2 {
	color: #5cdb95;
	cursor: pointer;
	border: none;
	font-weight: 600;
	outline: none;
	text-align: center;
	font-family: 'Exo', sans-serif;
	margin: 0px 10%;
	padding: 18px 0px;
	width: 80%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #05386b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.button2:hover {
	color: #edf5e1; /*65%*/
	background-color: #0859aa;
}

.button3 {
	color: #379683;
	cursor: pointer;
	border: none;
	font-weight: 600;
	outline: none;
	text-align: center;
	font-family: 'Exo', sans-serif;
	margin: 0px 10%;
	padding: 18px 0px;
	width: 80%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #05386b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.button3:hover {
	color: #edf5e1; /*65%*/
	background-color: #0859aa;
}
.button {
	color: #ff652f;
	cursor: pointer;
	border: none;
	font-weight: 600;
	outline: none;
	text-align: center;
	font-family: 'Exo', sans-serif;
	margin: 0px 10%;
	padding: 18px 0px;
	width: 80%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #19181a;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.button:hover {
	color: #ff7c4d;
	background-color: #747474;
}

.innerbutton {
	color: #5cdb95;
	cursor: pointer;
	border: none;
	font-weight: 600;
	outline: none;
	text-align: center;
	font-family: 'Exo', sans-serif;
	margin: 0px 10%;
	padding: .5em 0px;
	width: 20%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #05386b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.innerbutton:hover {
	color: #edf5e1;
	background-color: #0859aa;
}

.close {
	position: fixed;
	top: 0;
}

.photo {
	position: relative;
	line-height: 0;
	overflow: hidden;
	padding:1px;

}

.photo-container {
	text-align: center;
	margin: 15px auto;
	width: auto;
    height: auto;
	padding-right: auto;
	padding-top: 50px;
}

.photo-container img {
 	max-width: 100%;
	width: 200px;
	height: 150;
}

/* Contact images*/

.photo-container-2 {
	text-align: center;
	margin: 15px auto;
	width: auto;
  height: auto;
	padding-right: auto;
	padding-top: 50px;
	letter-spacing: 1.5px;
}

.photo-container-2 img {
 	max-width: 100%;
	width: 75px;
	height: 75px;
	padding: 5px;
}

.photo-container-2 a {
	text-decoration: none;
	color: #edf5e1;
	text-align: center;
	line-height: 10px;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}

.photo-container-2 a:hover {
	color: #05386b;
}

.modal-center {
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: #05386b;
  color: #5cdb95;
	text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
  padding: 20px 50px 20px 50px;
  text-align: left;
}

/* @media queries */

@media only screen and (min-width: 35em) {
	.topnav a {
		font-size: 16px;
	}

}

@media only screen and (min-width: 50em) {
	.topnav a {
		font-size: 18px;
		float: left;
	}

	.navbar-toggler {
		display: none;
	}

	.collapse {
		display: flex;
	}

	#header-name {
		top: 30%;
	}

}



/* @media all and (max-width:381px) and (min-width:200px) {

} */
